body {
  font-family: sans-serif;
}

.gallery {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;
}

.gallery-image {
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
}
